{% load static %}

<nav> <!-- NAVBAR START -->
  <div class="nav-wrapper blue darken-4">
    <!-- replace the image link with the logo when it's put into static assets later -->

    <ul class="left">
      <li>
        <a href="{% url 'tickets:home' %}">
          <img id="navbarLogo" src="https://drive.google.com/uc?id=1onuUR3J_ufFbEbyGNP1seeFHJh8ivvRD" alt="DA2nd Logo" height="25px">
        </a>
      </li>
      {% for message in messages %}
        {% if message.message == "Welcome" %}
          <li>{{ message.message }} {{request.user.first_name}}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="right hide-on-med-and-down">
      {% if user.is_support or user.is_supervisor %}
      <li><a href="{% url 'tickets:new_ticket' %}">New Ticket</a></li>
      <li><a href="{% url 'tickets:view_closed_tickets' %}">Closed Tickets</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Logout <b>{{request.user.username}}</b></a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>

  </div>
</nav> <!-- NAVBAR END -->
