{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base target="_top">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <!-- Material Icons -->
    <link rel="stylesheet" href="{% static 'iconfont/material-icons.css' %}">
    <!-- Helpdesk stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/dalogo250.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Help Desk</title>

    <style>
        .table-title{
            color:white;
            padding: 8px;
            font-size: 18px;
            font-weight: bold;
        }

        .table-subtitle{
            color:white;
            font-size: 14px;
            padding: 0 0 0 8px;
            display: inline-block;
        }
    </style>

  </head>
  <body>

    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Materialize JS -->
    <script src="{% static 'js/materialize.min.js'  %} "></script>
    <!-- Helpdesk JS -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
