{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base target="_top">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <!-- Material Icons -->
    <link rel="stylesheet" href="{% static 'iconfont/material-icons.css' %}">
    <!-- Helpdesk stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Help Desk</title>
  </head>
  <body>

    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- Topbar -->
    {% include 'partials/_topbar.html' %}

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Materialize JS -->
    <script src="{% static 'js/materialize.min.js'  %} "></script>
    <!-- Helpdesk JS -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
