{% extends 'base.html' %}

{% block content %}
<div class="container"> <!-- Container start -->

  <form method="post"> <!-- Form start -->

  <div id="firstFormRow" class="row"> <!-- Row start -->
      {% csrf_token %}
      <div class="input-field col s12 m8">
        {% for agent in support_agents %}
          {% if forloop.first %}
          <!-- CHECK IF CURRENT USER IS THE ONLY VALUE IN THE LIST -->
            {% if user.id == agent.0 and forloop.last %}
              <select name="assignee" required id="id_assignee">
              <option value="{{agent.0}}" selected>{{ agent.1 }}</option>
            {% else %}
              <select name="assignee" required id="id_assignee">
              <option value="" disabled selected>Support Agents</option>
              <option value="{{agent.0}}">{{ agent.1 }}</option>
            {% endif %}
          {% else %}
            <option value="{{agent.0}}">{{ agent.1 }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label>Assign this task to a support agent:</label>
    </div>
  </div> <!-- Row end -->

  <div class="row"> <!-- Row start -->
      <div class="input-field col s12 m8">
      <select name="priority" required id="id_priority">
        <option value="" disabled selected>Priority Levels</option>
        {% for priority in priority_choices %}
        <option value="{{priority.0}}">{{ priority.1 }}</option>
        {% endfor %}
      </select>
      <label>Assign a priority level:</label>
    </div>
  </div> <!-- Row end -->

  <div class="row"> <!-- Row start -->
      <div class="input-field col s12 m8">
      <select name="category" id="id_category"
      {% if category_disabled %}
        disabled
      {% else %}
        required
      {% endif %}>
        <option value="" disabled selected>{{ category_label }}</option>
        {% for category in category_choices %}
        <option value="{{category.0}}">{{ category.1 }}</option>
        {% endfor %}
      </select>
      <label>Assign a category:</label>
    </div>
  </div> <!-- Row end -->

  <div id="buttonDiv">
    <button class="btn waves-effect waves-light hoverable blue darken-4" id="btn" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    </button>
  </div>

</form> <!-- Form end -->
</div> <!-- Container end -->
{% endblock %}
