{% extends 'base.html' %}

{% load helpdesk_extras %}

{% block content %}
<div class="container">
      <form action="{% url 'tickets:search_tickets' %}">
        <div class="section">

        <h4>Search Tickets</h4>
        <div class="row">
          <div class="col s12 m6">
            <label class="sr-only">Keywords</label>
            <input type="text" name="keywords" class="form-control" placeholder="Keywords in Resolution/Notes/Problem"
            value="{{ values.keywords }}">
          </div>

          <div class="col s12 m6">
            <label class="sr-only">Users</label>
            <input type="text" name="users" class="form-control" placeholder="Users"
            value="{{ values.users }}">
          </div>
        </div>

        <div class="divider"></div>

        <h4>Filter Fields</h4>
        <div class="row">
          <div class="col s12 m3">
            <label class="sr-only">Assignees</label>
            <select multiple name="assignee" class="form-control">
              <option selected="true" disabled>Support Agents</option>
              {% for assignee in assignee_choices %}
              <option value="{{ assignee.id }}"
              {% for x in values|get_list:'assignee'%}
                {% if x == assignee.id|stringformat:"i" %}
                  selected
                {% endif %}
              {% endfor %}>{{ assignee.username }}</option>
              {% endfor %}
            </select>
          </div>



          <div class="col s12 m3">
            <label class="sr-only">Priorities</label>
            <select multiple name="priority" class="form-control">
              <option selected="true" disabled="disabled">Priority Levels</option>
              {% for key, value in priority_choices %}
              <option value="{{ key }}"
              {% for x in values|get_list:'priority'%}
                {% if x == key|stringformat:"i" %}
                  selected
                {% endif %}
              {% endfor %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col s12 m3">
            <label class="sr-only">Categories</label>
            <select multiple name="category" class="form-control">
              <option selected="true" disabled>Categories</option>
              {% for key, value in category_choices %}
              <option value="{{ key }}"
              {% for x in values|get_list:'category'%}
                {% if x == key|stringformat:"i" %}
                  selected
                {% endif %}
              {% endfor %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col s12 m3">
            <label class="sr-only">Status</label>
            <select multiple name="status" class="form-control">
              <option selected="true" disabled="disabled">Ticket Status</option>
              {% for key, value in status_choices %}
              <option value="{{ key }}"
              {% for x in values|get_list:'status'%}
                {% if x == key|stringformat:"i" %}
                  selected
                {% endif %}
              {% endfor %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="divider"></div>

      <div class="section hide-on-small-only">
        <h4>Filter By Time Range</h4>
        <div class="row">
          <div class="col s12 m4">
            <h6>Ticket Opened Time Range</h6>
            <label>Ticket Opened On Or After</label>
              <input name="openStart" type="text" class="datepicker" value={{values.openStart}}>
          </div>
          <div class="col s12 m4">
            <h6>Ticket Assigned Time Range</h6>
            <label>Ticket Assigned On Or After</label>
              <input name="assignStart" type="text" class="datepicker" value={{values.assignStart}}>
          </div>
          <div class="col s12 m4">
            <h6>Ticket Closed Time Range</h6>
            <label>Ticket Closed On Or After</label>
              <input name="closeStart" type="text" class="datepicker" value={{values.closeStart}}>
          </div>
       </div>
        <div class="row">
          <div class="col s12 m4">
            <label>Ticket Opened On Or Before</label>
              <input name="openEnd" type="text" class="datepicker" value={{values.openEnd}}>
          </div>
          <div class="col s12 m4">
            <label>Ticket Assigned On Or Before</label>
              <input name="assignEnd" type="text" class="datepicker" value={{values.assignEnd}}>
          </div>
          <div class="col s12 m4">
            <label>Ticket Closed On Or Before</label>
              <input name="closeEnd" type="text" class="datepicker" value={{values.closeEnd}}>
          </div>
        </div>
      </div>

      <div class="section hide-on-med-and-up">
        <h4>Filter By Time Range</h4>
        <div class="row">
          <div class="col s12">
            <h6>Ticket Opened Time Range</h6>
            <label>Ticket Opened On Or After</label>
              <input name="openStart" type="text" class="datepicker" value={{values.openStart}}>
          </div>
          <div class="col s12">
            <label>Ticket Opened On Or Before</label>
              <input name="openEnd" type="text" class="datepicker" value={{values.openEnd}}>
          </div>
          <div class="col s12">
            <h6>Ticket Assigned Time Range</h6>
            <label>Ticket Assigned On Or After</label>
              <input name="assignStart" type="text" class="datepicker" value={{values.assignStart}}>
          </div>
          <div class="col s12">
            <label>Ticket Assigned On Or Before</label>
              <input name="assignEnd" type="text" class="datepicker" value={{values.assignEnd}}>
          </div>
          <div class="col s12">
            <h6>Ticket Closed Time Range</h6>
            <label>Ticket Closed On Or After</label>
              <input name="closeStart" type="text" class="datepicker" value={{values.closeStart}}>
          </div>
          <div class="col s12">
            <label>Ticket Closed On Or Before</label>
              <input name="closeEnd" type="text" class="datepicker" value={{values.closeEnd}}>
          </div>
       </div>
      </div>

        <div class="col s12">
          <button class="btn waves-effect waves-light hoverable blue darken-4" type="submit">Search</button>
        </div>
      </form>
</div>


<div class="row">
  <h4>These are the found tickets:</h4>
</div>

<div class="row"> <!-- START ROW -->
  <div id="searchTicketsTable" class="col s12 {{ searched_context }}">
    <div class="card material-table blue-grey darken-1">
      <div class="table-header">
        <span class="table-title">Found Tickets</span>
      </div>
      <table class="white-text highlight">
      <thead>
          <tr>
              <th>Ticket</th>
              <th>User</th>
              <th>Opened</th>
              <th>Assigned At</th>
              <th>Closed At</th>
              <th>Assignee</th>
              <th>Category</th>
              <th>Priority</th>
              <th>Description</th>
              <th>Resolution</th>
          </tr>
      </thead>
          {% for ticket in found_tickets %}
              <tr>
                  <td><a href={% url 'tickets:view_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="idbutton">
                      {{ ticket.id }}
                      </a>
                  </td>
                  <td>{{ ticket.user }}</td>
                  <td>{{ ticket.created_date }}</td>
                  <td>{{ ticket.assignment_date }}</td>
                  <td>{{ ticket.closed_date }}</td>
                  <td>{{ ticket.assignee}}</td>
                  <td>{{ ticket.get_category_display }}</td>
                  <td>{{ ticket.get_priority_display }}</td>
                  <td>{{ ticket.problem_description }}</td>
                  <td>{{ ticket.resolution }}</td>
              </tr>
          {% endfor %}
          {% if found_tickets|length == 0 %}
          <tr>
            <td colspan="8">No Found Tickets...</td>
          </tr>
          {% endif %}
      </table>
    </div>
  </div>
</div>        <!-- CLOSE ROW -->

{% endblock %}
