{% extends 'base.html' %}

{% block content %}

<!-- TODO: MAKE THE PROBLEM DESCRIPTION SECTION, AND POSSIBLY RESOLUTION, A CARD
REVEAL WITH DESCRIPTION PARTIALLY SHOWN IN A FIXED HEIGHT SECTION -->

<!-- CONTAINER START -->
<div class="container">

  <!-- ROW FOR DETAIL AND NOTES CARD START   -->
  <div class="row">

    <!-- COLUMN FOR TICKET DETAILS CARD START-->
    <div class="col s12 l8">
      <h4>Ticket {{ticket.id}} Details</h4>
      <!-- TICKET DETAILS CARD START -->
      <div class="card detail-card blue-grey darken-1">
        <div class="card-content white-text">
          <div class="row"> <!-- DETAIL ROW FOR TICKET TITLE, META, STATUS, DESCRIPTION, RESOLUTION START -->
            <div class="col s12 m6"> <!--  COLUMN IN CARD FOR TICKET TITLE AND META START -->
              <div class="section"> <!-- WRAPPER SECTION FOR PADDING AND SPACING START-->
              <div class="section blue-grey darken-2"> <!-- TICKET STATUS SECTION END -->
              <!-- IF STATUS IS OPEN -->
                {% if ticket.status == 1 %}
                  <!-- IF ASSIGNED -->
                  {% if ticket.assignment_date %}
                  <div class="yellow darken-1">
                    <h6>STATUS - Assigned</h6>
                  </div>
                  <p>{{ticket.assignment_date}}</p>
                    {% if user.is_support or user.is_supervisor %}
                    <h6>
                    <a href={% url 'tickets:resolve_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="addbutton">
                      <i class="material-icons">check_circle</i>
                    </a>Resolve ticket
                    </h6>
                    {% endif %}
                  <!-- IF NOT YET ASSIGNED -->
                  {% else %}
                  <div class="deep-orange">
                    <h6>STATUS - Unassigned</h6>
                  </div>
                  <p>{{ticket.created_date}}</p>
                    {% if user.is_support or user.is_supervisor %}
                    <h6>
                    <a href={% url 'tickets:assign_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="addbutton">
                      <i class="material-icons">assignment_ind</i>
                    </a>Assign ticket
                    </h6>
                    {% endif %}
                  {% endif %}
                {% endif %}
              <!-- IF STATUS IS CLOSED -->
              {% if ticket.status == 2 %}
              <div class="green darken-1">
                <h6>STATUS - Closed</h6>
              </div>
              <p>{{ticket.closed_date}}</p>
              {% endif %}
              </div> <!-- TICKET STATUS SECTION END -->
            </div> <!-- WRAPPER SECTION FOR PADDING AND SPACING END-->
            <div class="section"> <!-- WRAPPER FOR TICKET META SECTION START -->
            <div class="section blue-grey darken-2">
            <h6>User: {{ticket.user}}</h6>
              {% if ticket.assignment_date %}
                <h6>Support Agent: {{ticket.assignee}}</h6>
                <h6>Priority: {{ticket.get_priority_display}}</h6>
                <h6>Category: {{ticket.get_category_display}}</h6>
              {% endif %}
            </div>
            </div> <!-- WRAPPER FOR TICKET META SECTION END -->

            <div class="section"> <!-- WRAPPER FOR TICKET UPLOADS SECTION START -->
            <div class="section blue-grey darken-2">
              <h6>
                <a href={% url 'tickets:add_attachment' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="addbutton">
                  <i class="material-icons">attach_file</i>
                </a>
                Upload File
              </h6>
              {% if not attachments %}
              <p>No attachments...</p>
              {% endif %}
              {% for attachment in attachments %}
              <div class="blue-grey darken-3">
                <h6>
                  <a href="{{ attachment.file.url }}"> {{ attachment.file.name }} </a>
                </h6>
                <p>{{ attachment.description }}</p>
              </div>
              {% endfor %}
            </div> <!-- WRAPPER FOR TICKET META UPLOADS END -->
            </div>
            </div> <!--  COLUMN IN CARD FOR TICKET TITLE AND META END -->

            <div class="col s12 m6"> <!--  COLUMN IN CARD FOR STATUS, DESCRIPTION, RESOLUTION START -->
              <div class="section">
              <div class="section blue-grey darken-2"> <!-- PROBLEM DESCRIPTION SECTION START -->
              <h6>Issue Description</h6>
              <p>{{ticket.problem_description}}</p>
              </div> <!-- PROBLEM DESCRIPTION SECTION END -->
              </div>

                {% if ticket.resolution %}
                <div class="section blue-grey darken-2"> <!-- PROBLEM RESOLUTION SECTION START-->
                <!-- <div class="divider"></div> -->
                <h6>Issue Resolution</h6>
                <p>{{ticket.resolution}}</p>
                 <!-- PROBLEM RESOLUTION SECTION END-->
                </div>
                {% endif %}
            </div> <!--  COLUMN IN CARD FOR STATUS, DESCRIPTION, RESOLUTION END -->
          </div> <!-- DETAIL ROW FOR TICKET TITLE, META, STATUS, DESCRIPTION, RESOLUTION END -->
          <div class="row"> <!-- ROW FOR TIMELINE FOOTER START-->
            <div class="col s12"> <div><!-- COLUMN FOR FOOTER WITH TIMELINE START-->

              <div class="blue-grey darken-2">
                <div class="divider transparent"></div>
                <h6>Timeline</h6>
                <div class="divider transparent"></div>
              </div>
              <div class="section"> <!-- TIMELINE SECTION START -->

                <div class="blue-grey lighten-1">
                  <h6>Created on {{ticket.created_date}} by {{ticket.user}}</h6>
                </div>
                  {% if ticket.assignment_date %}
                  <div class="blue-grey lighten-1">
                    <h6>Assigned on {{ticket.assignment_date}} to {{ticket.assignee}} by {{ticket.assigned_by}}</h6>
                  </div>
                  {% endif %}
                  {% if ticket.status == 2 %}
                  <div class="blue-grey lighten-1">
                    <h6>Resolved on {{ticket.closed_date}} by {{ticket.assignee}}</h6>
                  </div>
                  {% endif %}
              </div> <!-- TIMELINE SECTION END --></div>
            </div> <!-- COLUMN FOR FOOTER WITH TIMELINE END-->
          </div> <!-- ROW FOR TIMELINE FOOTER END-->
        </div>
      </div>
      <!-- TICKET DETAILS CARD END -->

    </div>
    <!-- COLUMN FOR TICKET DETAILS CARD END -->

    <div class="col s12 l4"> <!-- COLUMN FOR NOTES CARD START -->
      <h4>Ticket {{ticket.id}} Notes</h4>
      <div class="card detail-card blue-grey darken-1"> <!-- NOTES CARD START -->
        <div class="card-content white-text">
          <div class="row"> <!-- ROW FOR NOTES CARD HEADER START -->
            <div class="col s12">
              <div class="section blue-grey darken-2"> <!-- NOTES HEADER SECTION START -->
              <h6 class="center-align">
                <a href={% url 'tickets:add_note' ticket.id %} class="btn-floating btn-small waves-effect waves-light red hoverable" id="addbutton">
                  <i class="material-icons">add</i>
                </a>Add Note
              </h6>
              </div> <!-- NOTES HEADER SECTION END -->
            </div>
          </div> <!-- ROW FOR NOTES CARD HEADER END -->
          <div class="row">
            <div class="col s12">
              {% if not notes %}
              <h6>No notes...</h6>
              {% endif %}
                {% for note in notes %}
                  {% if note.user.is_support or note.user.is_supervisor %}
                  <div class="right-align blue-grey lighten-1">
                    <p>{{note.created_date}}</p>
                    <P>{{note.user}}</P>
                    <h6>{{note.text}}</h6>
                  </div>
                  {% else %}
                  <div class="left-align blue-grey lighten-3 black-text">
                    <p>{{note.created_date}}</p>
                    <P>{{note.user}}</P>
                    <h6>{{note.text}}</h6>
                  </div>
                  {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
      </div> <!-- NOTES CARD END -->
    </div> <!-- COLUMN FOR NOTES CARD END -->

  </div>
  <!-- ROW FOR DETAIL AND NOTES CARD END -->

<div style="text-align:center">
    <button class="btn waves-effect waves-light hoverable blue darken-4" id="btn" type="submit" name="action"
    onclick="window.location.href = {% url 'tickets:home' %};
    return false;">Home
    </button>
</div>

</div>
<!-- CONTAINER END -->

{% endblock %}
