{% extends 'base.html' %}

{% block content %}

    <div class="container"> <!-- START CONTAINER -->

    <div class="row"> <!-- START ROW -->
      <h3 id="addticketh3" class="center-align">
        <a href="{% url 'tickets:new_ticket' %}" class="btn-floating btn-large waves-effect waves-light red hoverable" id="addbutton">
          <i class="material-icons">add</i>
        </a>Create New Ticket
      </h3>
    </div>            <!-- CLOSE ROW -->

<div class="row"> <!-- START ROW -->
  <div id="admin" class="col s12">
    <div class="card material-table blue-grey darken-1">
      <div class="table-header">
        <span class="table-title">{{first_name}}'s Open Tickets</span>
        <br/>
        <span class="table-subtitle">Click on a ticket number to see notes and further information.</span>
      </div>
      <table class="white-text highlight" id="datatable">
        <thead>
          <tr>
            <th>Ticket</th>
            <th>Opened</th>
            <th>Assigned At</th>
            <th>Assigned To</th>
            <th>Category</th>
            <th>Priority</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in open_tickets %}
              <tr>
                  <td><a href={% url 'tickets:view_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="idbutton">
                      {{ ticket.id }}
                      </a>
                  </td>
                  <td>{{ ticket.created_date }}</td>
                  {% if ticket.assignment_date == none %}
                    <td colspan="4">Ticket Not Yet Assigned</td>
                  {% else %}
                  <td>{{ ticket.assignment_date }}</td>
                  <td>{{ ticket.assignee }}</td>
                  <td>{{ ticket.get_category_display }}</td>
                  <td>{{ ticket.get_priority_display }}</td>
                  {% endif %}
                  <td>{{ ticket.problem_description }}</td>
              </tr>
          {% endfor %}
          {% if open_tickets|length == 0 %}
          <tr>
            <td colspan="7">No Open Tickets...</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>        <!-- CLOSE ROW -->

<div class="row">    <!-- START ROW -->
  <div id="admin" class="col s12">
    <div class="card material-table blue-grey darken-1">
      <div class="table-header">
        <span class="table-title">{{first_name}}'s Closed Tickets</span>
        <br/>
        <span class="table-subtitle">Click on a ticket number to see notes and further information.</span>
      </div>
      <table class="white-text highlight" id="datatable">
        <thead>
          <tr>
            <th>Ticket</th>
            <th>Opened</th>
            <th>Assigned At</th>
            <th>Assigned To</th>
            <th>Closed</th>
            <th>Description</th>
            <th>Resolution</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in closed_tickets %}
              <tr>
                <td><a href={% url 'tickets:view_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="idbutton">
                    {{ ticket.id }}
                    </a>
                </td>
                <td>{{ ticket.created_date }}</td>
                <td>{{ ticket.assignment_date }}</td>
                <td>{{ ticket.assignee }}</td>
                <td>{{ ticket.closed_date }}</td>
                <td>{{ ticket.problem_description }}</td>
                <td>{{ ticket.resolution }}</td>
              </tr>
          {% endfor %}
          {% if closed_tickets|length == 0 %}
          <tr>
            <td colspan="7">No Closed Tickets...</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>      <!-- CLOSE ROW -->

    </div> <!-- CLOSE CONTAINER -->

{% endblock %}
