{% extends 'base.html' %}

{% block content %}

<!-- CONTAINER START -->
<div class="container">

  <!-- ROW FOR DETAIL AND NOTES CARD START   -->
  <div class="row">

    <!-- COLUMN FOR TICKET DETAILS CARD START-->
    <div class="col s12 l8">
      <!-- TICKET DETAILS CARD START -->
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <div class="row"> <!-- DETAIL ROW FOR TICKET TITLE, META, STATUS, DESCRIPTION, RESOLUTION START -->
            <div class="col s12 m6"> <!--  COLUMN IN CARD FOR TICKET TITLE AND META START -->
            <span class="card-title">Ticket {{ticket.id}}</span>
            <div class="section"> <!-- TICKET META SECTION START -->
            <h6>User: {{ticket.user}}</h6>
            {% if ticket.assignment_date %}
              <h6>Support Agent: {{ticket.assignee}}</h6>
              <h6>Priority: {{ticket.get_priority_display}}</h6>
              <h6>Category: {{ticket.get_category_display}}</h6>
            {% endif %}
          </div> <!-- TICKET META SECTION END -->
            </div> <!--  COLUMN IN CARD FOR TICKET TITLE AND META END -->
            <div class="col s12 m6"> <!--  COLUMN IN CARD FOR STATUS, DESCRIPTION, RESOLUTION START -->
              <div class="section"> <!-- TICKET STATUS SECTION END -->
              <!-- IF STATUS IS OPEN -->
              {% if ticket.status == 1 %}
                <!-- IF ASSIGNED -->
                {% if ticket.assignment_date %}
                <h6>STATUS - Assigned</h6>
                <h6>Assigned at: {{ticket.assignment_date}}</h6>
                  {% if user.is_support or user.is_supervisor %}
                  <h6>Resolve ticket</h6>
                  <a href={% url 'tickets:resolve_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="addbutton">
                    <i class="material-icons">check_circle</i>
                  </a>
                  {% endif %}
                <!-- IF NOT YET ASSIGNED -->
                {% else %}
                <h6>STATUS - Unassigned</h6>
                <h6>Opened at: {{ticket.created_date}}</h6>
                  {% if user.is_support or user.is_supervisor %}
                  <h6>Assign ticket</h6>
                  <a href={% url 'tickets:assign_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="addbutton">
                    <i class="material-icons">assignment_ind</i>
                  </a>
                  {% endif %}
                {% endif %}
              {% endif %}
              <!-- IF STATUS IS CLOSED -->
              {% if ticket.status == 2 %}
              <h6>STATUS - Closed</h6>
              <h6>Closed at: {{ticket.closed_date}}</h6>
              {% endif %}
              </div> <!-- TICKET STATUS SECTION END -->

              <div class="divider"></div>

              <div class="section"> <!-- PROBLEM DESCRIPTION SECTION START -->
              <h6>PROBLEM DESCRIPTION: {{ticket.problem_description}}</h6>
              </div> <!-- PROBLEM DESCRIPTION SECTION END -->

              <div class="divider"></div>

              {% if ticket.resolution %}
              <div class="section"> <!-- PROBLEM RESOLUTION SECTION START-->
              <h6>PROBLEM RESOLUTION: {{ticket.resolution}}</h6>
            </div> <!-- PROBLEM RESOLUTION SECTION END-->
              {% endif %}
            </div> <!--  COLUMN IN CARD FOR STATUS, DESCRIPTION, RESOLUTION END -->
          </div> <!-- DETAIL ROW FOR TICKET TITLE, META, STATUS, DESCRIPTION, RESOLUTION END -->
        </div>
      </div>
      <!-- TICKET DETAILS CARD END -->

    </div>
    <!-- COLUMN FOR TICKET DETAILS CARD END -->

  </div>
  <!-- ROW FOR DETAIL AND NOTES CARD END -->

</div>
<!-- CONTAINER END -->

<!-- TICKET DETAIL CARD START -->

<!-- TOP LEFT, TICKET ID SECTION START-->
<h1>TICKET ID: {{ticket.id}}</h1>
<!-- TICKET ID SECTION END -->

<!-- MIDDLE LEFT, TICKET META DATA, USER ASSIGNEE, CATEGORY PRIORITY SECTION START -->
<h1>USER: {{ticket.user}}</h1>
<h1>ASSIGNEE: {{ticket.assignee}}</h1>
<h1>PRIORITY: {{ticket.get_priority_display}}</h1>
<h1>CATEGORY: {{ticket.get_category_display}}</h1>
<!-- CARD FOOTER/BOTTOM LEFT TICKET TIMELINE -->
<h1>CREATED AT: {{ticket.created_date}}</h1>
<h2>BY: {{ticket.user}}</h2>
{% if ticket.assignment_date %}
<h1>ASSIGNED AT: {{ticket.assignment_date}}</h1>
<h2>TO: {{ticket.assignee}}</h2>
<h2>BY: {{ticket.assigned_by}}</h2>
{% endif %}
{% if ticket.status == 2 %}
<h1>RESOLVED AT: {{ticket.closed_date}}</h1>
<h2>BY: {{ticket.assignee}}</h2>
{% endif %}
<!-- TICKET META DATA SECTION END -->

<!-- STATUS SECTION, TOP RIGHT START-->
<!-- IF STATUS IS OPEN -->
{% if ticket.status == 1 %}
  <!-- IF ASSIGNED -->
  {% if ticket.assignment_date %}
  <h1>STATUS - ASSIGNED</h1>
  <h2>ASSIGNED AT: {{ticket.assignment_date}}</h2>
    {% if user.is_support or user.is_supervisor %}
    <h6>Resolve ticket</h6>
    <a href={% url 'tickets:resolve_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="addbutton">
      <i class="material-icons">check_circle</i>
    </a>
    {% endif %}
  <!-- IF NOT YET ASSIGNED -->
  {% else %}
  <h1>STATUS - UNASSIGNED</h1>
  <h2>OPENED AT: {{ticket.created_date}}</h2>
    {% if user.is_support or user.is_supervisor %}
    <h6>Assign ticket</h6>
    <a href={% url 'tickets:assign_ticket' ticket.id %} class="btn-floating btn-small waves-effect waves-light blue hoverable" id="addbutton">
      <i class="material-icons">assignment_ind</i>
    </a>
    {% endif %}
  {% endif %}
{% endif %}
<!-- IF STATUS IS CLOSED -->
{% if ticket.status == 2 %}
<h1>STATUS - CLOSED</h1>
<h2>CLOSED AT: {{ticket.closed_date}}</h2>
{% endif %}
<!-- STATUS SECTION END -->

<!-- PROBLEM DESCRIPTION SECTION, MIDDLE RIGHT START -->
<h6>PROBLEM DESCRIPTION: {{ticket.problem_description}}</h6>
<!-- PROBLEM DESCRIPTION SECTION END -->

<!-- PROBLEM RESOLUTION SECTION, BOTTOM RIGHT -->
{% if ticket.resolution %}
<h6>PROBLEM RESOLUTION: {{ticket.resolution}}</h6>
{% endif %}
<!-- PROBLEM RESOLUTION SECTION END -->

<!-- TICKET DETAIL CARD END -->


<!-- NOTES CARD START -->

<!-- NEW NOTES BUTTON SECTION, TOP OF NOTES CARD START -->
<h6>
  <a href={% url 'tickets:add_note' ticket.id %} class="btn-floating btn-small waves-effect waves-light red hoverable" id="addbutton">
    <i class="material-icons">add</i>
  </a>Create New Note
</h6>
<!-- NEW NOTES BUTTON SECTION END -->

<!-- NOTES CHAT LOG SECTION START -->
{% for note in notes %}
<h6>NOTE CREATED AT: {{note.created_date}}</h6>
<h6>NOTE CREATOR: {{note.user}}</h6>
<h1>NOTE TEXT: {{note.text}}</h1>
{% endfor %}
<!-- NOTES CHAT LOG SECTION END -->

<!-- NOTES CARD END -->

{% endblock %}
