Hello {{ first_name }}. How is the weather in Biloxi <br/>
<a href="{% url 'tickets:new_ticket' %}">New Ticket</a>
<br/><br/>
These are your open tickets: <br/>
<table>
<thead>
    <tr>
        <th>Ticket</th>
        <th>Opened</th>
        <th>Assigned At</th>
        <th>Assigned To</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Description</th>
    </tr>
</thead>
    {% for ticket in open_tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.created_date }}</td>
            <td>{{ ticket.assignment_date }}</td>
            <td>{{ ticket.assignee }}</td>
            <td>{{ ticket.get_category_display }}</td>
            <td>{{ ticket.get_priority_display }}</td>
            <td>{{ ticket.problem_description }}</td>
        </tr>
    {% endfor %}
</table>

These are your closed tickets: <br/>
<table>
<thead>
    <tr>
        <th>Ticket</th>
        <th>Opened</th>
        <th>Assigned At</th>
        <th>Assigned To</th>
        <th>Closed</th>
        <th>Description</th>
        <th>Resolution</th>
    </tr>
</thead>
    {% for ticket in closed_tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.created_date }}</td>
            <td>{{ ticket.assignment_date }}</td>
            <td>{{ ticket.assignee }}</td>
            <td>{{ ticket.closed_date }}</td>
            <td>{{ ticket.problem_description }}</td>
            <td>{{ ticket.resolution }}</td>
        </tr>
    {% endfor %}
</table>

<br/><br/>
<a href="{% url 'logout' %}">Logout</a>
